$ruler: 16px;
$color-red: #ae1100;
$color-bg: #ebecf0;
$color-shadow: #1d1f27;
$color-white: #fff;

.input {
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.2px;
  font-size: $ruler;
}

div {
  color: $color-shadow;
  text-shadow: 1px 1px 1px $color-white;
}

form {
  padding: $ruler;
  width: $ruler * 20;
  margin: 0 auto;
  width: 675px;
}

.segment {
  padding: $ruler * 2 0;
  text-align: center;
}

.input {
  border: 0;
  outline: 0;
  font-size: $ruler;
  border-radius: $ruler * 20;
  padding: $ruler;
  background-color: $color-bg;
  text-shadow: 1px 1px 0 $color-white;
}

.label {
  display: block;
  margin-bottom: $ruler * 1.5;
  width: 100%;
  font-size: 17px;
}

.input {
  margin-right: $ruler/2;
  box-shadow: inset 2px 2px 5px $color-shadow, inset -5px -5px 10px $color-white;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;

  &:focus {
    box-shadow: inset 1px 1px 2px $color-shadow,
      inset -1px -1px 2px $color-white;
  }
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .label {
    margin: 0;
    flex: 1;
  }
}
