.tableContainer {
    display: flex;
    justify-content: center;
    margin: 20vh auto;
    width: 80%;
    background-color: #fff;
    border-radius: 10px;
    padding: 5px;
}

.tableStyle {
    width: 100%;
    box-shadow: 15px 15px #0000000d;
    border-collapse: collapse;
}

.trStyle:nth-of-type(odd) {
    background-color: #006cc6;
    color: #fff;
}
.trStyle:nth-of-type(even) {
    background-color: #fff;
    color: #333;
}

.thStyle {
    background-color: #29335c;
    color: #fff;
    font-weight: 800;
    font-size: 20px;
}

.tdStyle,
.thStyle {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: center;
}

.label {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
}
.label-success {
    background-color: #5cb85c;
}

.label-warning {
    background-color: #f0ad4e;
}

.label-danger {
    background-color: #d9534f;
}

.btn {
    color: #fff;
    background-color: #37bc9b;
    font-size: 13px;
    padding: 5px 8px;
    border: none;
    border-radius: 2px;
    transition: all 0.3s ease;
    text-decoration: none;
}
.btn:hover {
    background-color: #2e9c81;
}

@media only screen and (max-width: 768px), (min-device-width: 768px) and (max-device-width: 992px) {
    .tableContainer {
        width: 95%;
        background: transparent;
    }

    .tableStyle,
    .theadStyle,
    .tbodyStyle,
    .thStyle,
    .tdStyle,
    .trStyle {
        display: block;
    }

    .theadStyle .trStyle {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .trStyle {
        border: 1px solid #ccc;
        margin-bottom: 10px;
    }

    .tdStyle {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        text-align: right;
    }

    .tdStyle::before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        font-size: 16px;
        font-weight: 600;
        text-align: left;
    }

    .tdStyle:nth-of-type(1)::before {
        content: "نام";
    }

    .tdStyle:nth-of-type(2)::before {
        content: "والد کا نام";
    }
    .tdStyle:nth-of-type(3)::before {
        content: "ماہانہ خرچہ جامعہ کو";
    }

    .tdStyle:nth-of-type(4)::before {
        content: "پیدائش کی تاریخ";
    }

    .tdStyle:nth-of-type(5)::before {
        content: "طالب علم کا پتہ";
    }

    .tdStyle:nth-of-type(6)::before {
        content: "مقیم";
    }
    .tdStyle:nth-of-type(7)::before {
        content: "سابقہ مدرسہ کا نام و مکمل پتہ";
    }

    .tdStyle:nth-of-type(8)::before {
        content: "   سابقہ مدرسہ کا رابطہ نمبر";
    }
    .tdStyle:nth-of-type(9)::before {
        content: "عصری تعلیم درجہ";
    }

    .tdStyle:nth-of-type(10)::before {
        content: " انسٹی ٹیوٹ کا نام اور پتہ";
    }
    .tdStyle:nth-of-type(11)::before {
        content: "  سکول کا رابطہ نمبر";
    }
    .tdStyle:nth-of-type(12)::before {
        content: "   آخری پاس کردہ درجہ";
    }
    .tdStyle:nth-of-type(13)::before {
        content: " نمبرات وتقدیر";
    }
    .tdStyle:nth-of-type(14)::before {
        content: "  طالب علم/سرپرست کا شناختی کارڈ نمبر";
    }
    .tdStyle:nth-of-type(15)::before {
        content: "والد/سرپرست کا رابطہ نمبر";
    }
    .tdStyle:nth-of-type(16)::before {
        content: "  والد کا پیشہ";
    }
}
